<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<div class="main-fields flexrow">
				<h1 class="charname" style="flex: 6">
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
				</h1>
				<input
					class="ponto-personagem"
					type="text"
					name="system.pontos.personagem.value"
					value="{{system.pontos.personagem.value}}"
					data-dtype="Number"
					data-tooltip="Pontos de Personagem"
					data-tooltip-direction="UP"
				/>
			</div>
			{{#if (eq data.type "personagem")}}
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">Conceito</label>
					<input
						type="text"
						name="system.detalhes.conceito"
						value="{{system.detalhes.conceito}}"
						data-dtype="String"
					/>
				</div>
				<div class="resource">
					<label class="resource-label">Arquétipo</label>
					<input
						type="text"
						name="system.detalhes.arquetipo"
						value="{{system.detalhes.arquetipo}}"
						data-dtype="String"
					/>
				</div>
			</div>
			{{/if}}
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.js --}}
		<a class="item" data-tab="features">Detalhes</a>
		<a class="item" data-tab="effects">Efeitos</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-2col">
				<aside class="sidebar">
					<h3 style="border: none; font-weight: bold; text-align: center">Atributos</h3>
					<div class="abilities flexrow">
						<div>
							{{#each system.atributos as |ability key|}}
							<div class="ability atributos flexrow flex-group-center">
								<label
									for="system.atributos.{{key}}.value"
									class="rollable resource-label align-left"
									data-key="{{key}}"
									data-tooltip="{{localize (concat 'TRESDETV.Atributos.' key '.label')}}"
									data-tooltip-direction="UP"
									>{{localize (concat "TRESDETV.Atributos." key ".short")}}</label
								>
								<input
									type="text"
									name="system.atributos.{{key}}.value"
									value="{{ability.value}}"
									data-dtype="Number"
								/>
							</div>
							{{/each}}
						</div>
						<!-- Points -->
						{{> "systems/tresdetv/templates/actor/parts/actor-points.html"}}
					</div>
					{{#if (eq data.type "personagem")}}
					<div class="form-group flexrow">
						<label for="system.pontos.experiencia.value" class="resource-label align-left">
							{{localize "TRESDETV.Pontos.experiencia.short"}}
						</label>
						<input
							type="text"
							name="system.pontos.experiencia.value"
							value="{{system.pontos.experiencia.value}}"
							data-dtype="Number"
						/>
					</div>
					{{/if}}
					<div style="height: 100%; margin: 0 3px">
						<h3 style="border: none; font-weight: bold; text-align: center">Anotações</h3>
						{{editor system.descricao target="system.descricao" rollData=rollData button=true owner=owner
						editable=editable}}
					</div>
				</aside>

				<section>
					<!-- Habilidades -->
					{{> "systems/tresdetv/templates/actor/parts/actor-features.html"}}

					<!-- Perícias -->
					{{> "systems/tresdetv/templates/actor/parts/actor-skills.html"}}

					<!-- Técnicas -->
					{{#if tecnicas.length}} {{> "systems/tresdetv/templates/actor/parts/actor-spells.html"}} {{/if}}

					<!-- Itens -->
					{{> "systems/tresdetv/templates/actor/parts/actor-items.html"}}
				</section>
			</section>
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/tresdetv/templates/actor/parts/actor-effects.html"}}
		</div>
	</section>
</form>
