<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<div class="main-fields flexrow">
				<h1 class="charname" style="flex: 6">
					<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" />
				</h1>
				<input
					class="ponto-personagem"
					type="text"
					name="system.pontos.personagem.value"
					value="{{system.pontos.personagem.value}}"
					data-dtype="Number"
					data-tooltip="Pontos de Personagem"
					data-tooltip-direction="UP"
				/>
			</div>
			{{#unless veiculo}}
			<!--  -->
			<div class="grid grid-{{colunasDetalhes}}col">
				<div class="resource flexcol flex-group-center">
					<label class="resource-label">Conceito</label>
					<input
						type="text"
						name="system.detalhes.conceito"
						value="{{system.detalhes.conceito}}"
						data-dtype="String"
					/>
				</div>
				<div class="resource flexcol flex-group-center">
					<label class="resource-label">Arquétipo</label>
					<input
						type="text"
						name="system.detalhes.arquetipo"
						value="{{system.detalhes.arquetipo}}"
						data-dtype="String"
					/>
				</div>
				{{#if personagem}}
				<div class="resource flexcol flex-group-center">
					<label class="resource-label"> {{localize "TRESDETV.Pontos.experiencia.short"}} </label>
					<input
						type="text"
						name="system.pontos.experiencia.value"
						value="{{system.pontos.experiencia.value}}"
						data-dtype="Number"
					/>
				</div>
				{{/if}}
				<div class="resource flexcol flex-group-center">
					<label class="resource-label"> {{localize "TRESDETV.Darma"}}/{{localize "TRESDETV.Karma"}} </label>
					<input type="checkbox" name="system.darma" {{checked system.darma}} />
				</div>
			</div>
			{{/unless}}
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.js --}}
		<a class="item" data-tab="features">Ficha</a>
		<a class="item" data-tab="notes">Anotações</a>
		<a class="item" data-tab="effects">Efeitos</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-2col">
				<aside class="sidebar">
					<h3 style="border: none; font-weight: bold; text-align: center">Atributos</h3>
					<div class="abilities flexrow">
						{{#each system.atributos as |ability key|}}
						<div class="ability atributos flexcol flex-group-center">
							<label class="rollable resource-label" data-key="{{key}}" data-tooltip-direction="UP"
								>{{localize (concat "TRESDETV.Atributos." key ".label")}}</label
							>
							<input
								type="text"
								name="system.atributos.{{key}}.value"
								value="{{ability.value}}"
								data-dtype="Number"
							/>
						</div>
						{{/each}}
					</div>
					<hr />
					<!-- Points -->
					{{> "systems/tresdetv/templates/actor/parts/actor-points.html"}}
					<!-- Perícias -->
					{{> "systems/tresdetv/templates/actor/parts/actor-skills.html"}}
				</aside>

				<section>
					<!-- Habilidades -->
					{{> "systems/tresdetv/templates/actor/parts/actor-features.html"}}

					<!-- Técnicas -->
					{{> "systems/tresdetv/templates/actor/parts/actor-spells.html"}}

					<!-- Itens -->
					{{> "systems/tresdetv/templates/actor/parts/actor-items.html"}}
				</section>
			</section>
		</div>

		<div class="tab notes flexcol" data-group="primary" data-tab="notes">
			<div>
				{{editor system.descricao target="system.descricao" rollData=rollData button=true owner=owner
				editable=editable}}
			</div>
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/tresdetv/templates/actor/parts/actor-effects.html"}}
		</div>
	</section>
</form>
