<ol class="form-group">
	<label>Perícias</label>
	<a class="trait-selector" data-trait="pericia">
		<i class="fas fa-edit"></i>
	</a>
	<ol class="traits-list">
		{{#each pericias as |pericia|}}
			<li class="tag">{{pericia}}</li>
		{{/each}}
	</ol>
</ol>