<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
			</h1>
			<div class="flexrow">
				<div class="resource">
					<label class="resource-label">Quantidade</label>
					<input type="text" name="system.quantidade" value="{{system.quantidade}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">Valor</label>
					<input type="text" name="system.valor" value="{{system.valor}}" data-dtype="Number" />
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs flexrow" data-group="primary">
		<a class="item" data-tab="description">Descrição</a>
		<!-- <a class="item" data-tab="attributes">Atributos</a> -->
		<a class="item" data-tab="effects">Efeitos</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{editor descriptionHTML target="system.descricao" button=true editable=editable
				engine="prosemirror" collaborate=false}}
		</div>

		{{!-- Attributes Tab --}}
		<!-- <div class="tab attributes" data-group="primary" data-tab="attributes">
			{{!-- As you add new fields, add them in here! --}}
			<div class="resource">
				<label class="resource-label">Roll Formula</label>
				<input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" />
			</div>
		</div> -->

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">{{> "tresdetv.actor-effects"}}</div>
	</section>
</form>
