<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" />
			</h1>
			<!-- <div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">Custo</label>
					<input type="text" name="system.custo" value="{{system.custo}}" data-dtype="Number" />
				</div>
			</div> -->
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs flexrow" data-group="primary">
		<a class="item" data-tab="description">Descrição</a>
		<a class="item" data-tab="attributes">Atributos</a>
		<a class="item" data-tab="effects">Efeitos</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			{{editor descriptionHTML target="system.descricao" rollData=rollData button=true owner=owner
			editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<h3>Ativação</h3>
			{{#with system.ativacao}}
			<div class="form-group">
				<label class="resource-label">Requisitos</label>
				<input type="text" name="system.ativacao.requisitos" value="{{requisitos}}" data-dtype="String" />
			</div>
			<div class="form-group">
				<label class="resource-label">Alcance</label>
				<input type="text" name="system.ativacao.alcance" value="{{alcance}}" data-dtype="String" />
			</div>
			<div class="form-group">
				<label class="resource-label">Custo</label>
				<input type="text" name="system.ativacao.custo" value="{{custo}}" data-dtype="String" />
			</div>
			<div class="form-group">
				<label class="resource-label">Teste</label>
				<select name="system.ativacao.teste">
					{{selectOptions ../atrChoices selected=teste}}
				</select>
			</div>
			{{/with}}
			<h3>Duração</h3>
			{{#with system.duracao}}
			<div class="form-group">
				<label class="resource-label">Tempo</label>
				<div class="flexrow">
					<input
						type="text"
						name="system.duracao.value"
						value="{{value}}"
						data-dtype="String"
						placeholder="Valor"
					/>
					<input
						type="text"
						name="system.duracao.unidade"
						value="{{unidade}}"
						data-dtype="String"
						placeholder="Unidade"
					/>
				</div>
				<!-- <input
					type="text"
					name="system.duracao.especial"
					value="{{especial}}"
					data-dtype="String"
					placeholder="Outros"
				/> -->
			</div>
			{{/with}}
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">{{> "tresdetv.actor-effects"}}</div>
	</section>
</form>
