@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
	font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
	color: #000;
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.grid,
.grid-2col {
	display: grid;
	grid-column: span 2 / span 2;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
	/* margin: 10px 0; */
	padding: 0;
}

.grid-3col {
	grid-column: span 3 / span 3;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
	grid-column: span 4 / span 4;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
	grid-column: span 5 / span 5;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
	grid-column: span 6 / span 6;
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
	grid-column: span 7 / span 7;
	grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
	grid-column: span 8 / span 8;
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
	grid-column: span 9 / span 9;
	grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
	grid-column: span 10 / span 10;
	grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
	grid-column: span 11 / span 11;
	grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
	grid-column: span 12 / span 12;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
	grid-column-start: 2;
}

.grid-start-3 {
	grid-column-start: 3;
}

.grid-start-4 {
	grid-column-start: 4;
}

.grid-start-5 {
	grid-column-start: 5;
}

.grid-start-6 {
	grid-column-start: 6;
}

.grid-start-7 {
	grid-column-start: 7;
}

.grid-start-8 {
	grid-column-start: 8;
}

.grid-start-9 {
	grid-column-start: 9;
}

.grid-start-10 {
	grid-column-start: 10;
}

.grid-start-11 {
	grid-column-start: 11;
}

.grid-start-12 {
	grid-column-start: 12;
}

.grid-span-2 {
	grid-column-end: span 2;
}

.grid-span-3 {
	grid-column-end: span 3;
}

.grid-span-4 {
	grid-column-end: span 4;
}

.grid-span-5 {
	grid-column-end: span 5;
}

.grid-span-6 {
	grid-column-end: span 6;
}

.grid-span-7 {
	grid-column-end: span 7;
}

.grid-span-8 {
	grid-column-end: span 8;
}

.grid-span-9 {
	grid-column-end: span 9;
}

.grid-span-10 {
	grid-column-end: span 10;
}

.grid-span-11 {
	grid-column-end: span 11;
}

.grid-span-12 {
	grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.flex-group-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.flex-group-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.flexshrink {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.flex-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flexlarge {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.align-left {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}

.align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
}

.align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.combat-sidebar li.combatant .roll {
	background: url(../assets/icons/svg/perspective-dice-six-faces-three.svg) no-repeat 50% 50%;
}

.combat-sidebar li.combatant .roll:hover {
	background-image: url(../assets/icons/svg/perspective-dice-six-faces-three-highlight.svg);
}

/* Styles limited to tresdetv sheets */
.tresdetv h3 {
	border-bottom: none;
}

.tresdetv .item-form {
	font-family: "Roboto", sans-serif;
}

.tresdetv.sheet .window-content {
	overflow-y: hidden;
	/* From dnd5e */
	padding: 5px;
	color: #191813;
}

.tresdetv.sheet .window-content form {
	height: 100%;
	overflow: hidden;
}

.tresdetv.sheet .sheet-body {
	flex: 1;
	overflow: hidden;
}

.tresdetv.sheet .sheet-tabs.tabs {
	font-weight: 700;
}

.tresdetv.sheet.actor,
.tresdetv.sheet.item {
	min-width: 500px;
	min-height: 460px;
}

.tresdetv .sheet-header {
	-webkit-box-flex: 0;
	-ms-flex: 0 auto;
	flex: 0 auto;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.tresdetv .sheet-header .profile-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	height: 100px;
	margin-right: 10px;
}

.tresdetv .sheet-header .header-fields {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tresdetv .sheet-header .header-fields .main-fields > * {
	height: 45px;
	padding: 0px;
	margin: 5px 0;
}

.tresdetv .sheet-header h1.charname {
	padding: 0px;
	border-bottom: 0;
}

.tresdetv .sheet-header h1.charname input {
	width: 100%;
	height: 100%;
	margin: 0;
}

.tresdetv .sheet-header .main-fields input.ponto-personagem {
	margin-left: 5px;
	text-align: center;
	font-size: 2em;
}

.tresdetv .sheet-tabs {
	-webkit-box-flex: 0;
	-ms-flex: 0;
	flex: 0;
}

.tresdetv .sheet-body,
.tresdetv .sheet-body .tab,
.tresdetv .sheet-body .tab .editor {
	height: 100%;
	overflow-y: auto;
}

.tresdetv .tox .tox-editor-container {
	background: #fff;
}

.tresdetv .tox .tox-edit-area {
	padding: 0 8px;
}

.tresdetv .resource-label {
	font-weight: bold;
}

.tresdetv .resource label.resource-label,
.tresdetv .resource input {
	text-align: center;
}

.tresdetv .abilities {
	margin-bottom: 3px;
}

.tresdetv .ability.atributos .dados a {
	margin: 0 3px;
	font-size: 20px;
}

.tresdetv .ability.atributos input,
.tresdetv .ability.pontos input {
	max-width: 35px;
}

.tresdetv .ability label {
	flex: 0 25px;
	margin-right: 3px;
}

.tresdetv .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.tresdetv .items-header > * {
	font-size: 14px;
	text-align: center;
}

.tresdetv .items-header .item-name {
	font-weight: bold;
	padding-left: 5px;
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tresdetv .items-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	scrollbar-width: thin;
	color: #444;
}

.tresdetv .items-list .item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tresdetv .items-list .item-name {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	margin: 0;
	overflow: hidden;
	font-size: 13px;
	text-align: left;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tresdetv .items-list .item-name h3,
.tresdetv .items-list .item-name h4 {
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.tresdetv .items-list .item-name sup {
	margin-left: -3px;
}

.tresdetv .items-list .item .item-name .item-image:hover {
	background-image: url("../../icons/svg/d20-black.svg") !important;
}

.tresdetv .items-list .item-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.tresdetv .items-list .item-controls a {
	font-size: 12px;
	text-align: center;
	margin: 0 6px;
}

.tresdetv .items-list .item-controls .item-toggle {
	color: #b5b3a4;
}

.tresdetv .items-list .item-controls .item-toggle.active {
	color: #4b4a44;
}

.tresdetv .items-list .item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 2px;
	border-bottom: 1px solid #c9c7b8;
}

.tresdetv .items-list .item.item-detail:last-child {
	border-bottom: none;
}

.tresdetv .items-list .item .item-name .item-image {
	flex: 0 0 20px;
	height: 20px;
	background-size: cover;
	background-position: 50% 0;
	border: none;
	margin-right: 5px;
}

.tresdetv .items-list .item .item-name {
	color: #191813;
}

.tresdetv .items-list .item .item-name.rollable:hover .item-image {
	background-image: url("../../../icons/svg/d20-grey.svg") !important;
}
.tresdetv .items-list .item .item-name.rollable .item-image:hover {
	background-image: url("../../../icons/svg/d20-black.svg") !important;
}

.tresdetv.sheet.actor .items-list .item-summary {
	flex: 0 0 100%;
	font-size: 12px;
	line-height: 16px;
	padding: 0.25em 0.5em;
	color: #191813;
	border-top: 1px solid #c9c7b8;
}

.tresdetv .items-list .item-prop {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.tresdetv .items-list .items-header {
	height: 28px;
	margin: 2px 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border: 2px groove #eeede0;
	font-weight: bold;
}

.tresdetv .items-list .items-header > * {
	font-size: 12px;
	text-align: center;
}

.tresdetv .items-list .items-header .item-name {
	padding-left: 5px;
	text-align: left;
}

.tresdetv .item-formula {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
	padding: 0 8px;
}

.tresdetv button {
	background: rgba(0, 0, 0, 0.1);
	border: 2px groove #eeede0;
}

.tresdetv .abilities button,
.tresdetv.card-buttons {
	margin-top: 5px;
}

.tresdetv.card-buttons button {
	font-size: 12px;
	height: 24px;
	line-height: 20px;
	margin: 2px 0;
}

.tresdetv .encumbrance-list {
	flex-basis: 20%;
}

.tresdetv .effects .item .effect-source,
.tresdetv .effects .item .effect-duration,
.tresdetv .effects .item .effect-controls {
	text-align: center;
	border-left: 1px solid #c9c7b8;
	border-right: 1px solid #c9c7b8;
	font-size: 12px;
}

.tresdetv .effects .item .effect-controls {
	border: none;
}

.tresdetv .warning {
	background: rgba(0, 0, 0, 0.5);
	margin-bottom: 0.5em;
	padding: 6px 8px;
	border: 1px solid var(--color-border-dark-secondary);
	border-radius: 5px;
	color: var(--color-text-light-1);
	text-shadow: 1px 1px black;
}

.tresdetv .warning.red {
	background: rgba(105, 0, 8, 0.8);
	border: 1px solid var(--color-level-error);
}

.tresdetv .tag {
	display: inline-block;
	margin: 0 2px 0 0;
	padding: 0 3px;
	/* font-size: 10px; */
	font-size: var(--font-size-13);
	line-height: 16px;
	border: 1px solid #999;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
}

.combat-sidebar li.combatant .token-initiative.rolled {
	flex: 1;
}

/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
.trait-selector .trait-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.trait-selector .trait-list li ol.trait-list {
	margin-left: 1.5em;
}
.trait-selector input[type="text"] {
	height: 24px;
	margin: 2px;
}

.tresdetv.sheet .skills {
	margin: 5px 0 0;
}
.tresdetv.sheet.actor .skills label {
	line-height: 20px;
	font-weight: bold;
}
.tresdetv.sheet .skills .traits-list {
	flex: 0 0 100%;
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tresdetv.sheet .trait-selector,
.tresdetv.sheet .proficiency-selector {
	flex: 0 0 16px;
	padding: 2px 0;
	color: #999;
	font-size: 10px;
}

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.tresdetv.chat-card {
	font-style: normal;
	font-size: 12px;
}
.tresdetv.chat-card .card-header {
	padding: 3px 0;
	border-top: 2px groove #fff;
	border-bottom: 2px groove #fff;
}
.tresdetv.chat-card .card-header img {
	flex: 0 0 36px;
	margin-right: 5px;
}
.tresdetv.chat-card .card-header h3 {
	flex: 1;
	margin: 0;
	line-height: 36px;
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-size: 20px;
	font-weight: 700;
	color: #4b4a44;
}
.tresdetv.chat-card .card-header h3:hover {
	color: #111;
	text-shadow: 0 0 10px red;
}
.tresdetv.chat-card .card-content {
	margin: 5px 0;
}
.tresdetv.chat-card .card-content h3 {
	font-size: 12px;
	margin: 0;
	font-weight: bold;
}
.tresdetv.chat-card .card-content > * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.tresdetv.chat-card .card-buttons {
	margin: 5px 0;
}
.tresdetv.chat-card .card-buttons span {
	display: block;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
}
.tresdetv.chat-card .card-buttons button {
	font-size: 12px;
	height: 24px;
	line-height: 20px;
	margin: 2px 0;
}
.tresdetv.chat-card .card-footer {
	padding: 3px 0 0;
	border-top: 2px groove #fff;
}
.tresdetv.chat-card .card-footer span {
	border-right: 2px groove #fff;
	padding: 0 3px 0 0;
	font-size: 10px;
}
.tresdetv.chat-card .card-footer span:last-child {
	border-right: none;
	padding-right: 0;
}
.dice-roll .dice-total.success {
	color: inherit;
	background: #c7d0c0;
	border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
	color: inherit;
	background: #ffdddd;
	border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
	color: green;
}
.dice-roll .dice-total.fumble {
	color: red;
}
