<form autocomplete="off">

	{{! <fieldset> }}
	<div style="margin-bottom: 10px">
		<div class="form-group">
			<label>Modificador</label>
			<div class="form-fields">
				<input type="number" name="modificador" placeholder="0" step="1" value="{{bonus}}" />
			</div>
		</div>
		<div class="form-group">
			<label>Maestria</label>
			<div class="form-fields">
				<input type="checkbox" name="maestriaCheck" {{checked maestriaCheck}} />
			</div>
			<div class="form-fields">
				<input type="number" name="maestria" value="{{maestria}}" max="6" min="1" />
			</div>
		</div>
	</div>
	{{! </fieldset> }}
</form>